<%- include('partials/header.ejs') %>

  <div class="stacker">

  <div class="makepost">
      <h1> ‿escriba </h1>
<form action="/post" method="POST" class="makepost">
  <div class="input-stack">
    <textarea name="blogPost" id="txt" placeholder="Dentist appointment on Thursday..." onclick="this.placeholder=''"></textarea>
    <input type="submit" value="Post">
  </div>
</form>
  </div>
  
<div class="log"> <h4>My notes:</h4>
<% if (notes && notes.length > 0) { %>
    <ul>
      <% notes.forEach((note, i) => { %>
        <li>
          <form action="/delete" method="POST" style="display: inline;">
            <input type="hidden" name="index" value="<%= i %>">
            <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">
              <%= note %>
            </button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <form action="/clear" method="POST" class="clear">
  <input type="submit" value="Clear">
</form>
</div>



<%- include('partials/footer.ejs') %>