<%- include('partials/header.ejs') %>

<div class="stacker">
  <div class="log">
    <h4><i class="far fa-sticky-note px-2"></i>My notes:</h4>
    <% if (notes && notes.length > 0) { %>
    <ul>
      <% notes.forEach((note, i) => { %>
      <li>
        <form action="/notes/delete" method="POST" style="display: inline">
          <input type="hidden" name="id" value="<%= note.id %>" />
          <button
            type="submit"
            style="
              background: none;
              border: none;
              color: inherit;
              cursor: pointer;
            "
          >
            <%= note.title %>
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/clear" method="POST" class="clear">
      <input type="submit" value="Clear & Leave" />
    </form>
  </div>

<%- include('partials/footer.ejs') %>