<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="icon" type="image/png" href="styles/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <title>Escriba</title>
  </head>

  <body>

<div class="container-modal">
<div class="modal">
  <h1>‿escriba</h1>
  <a class="register-btn" href="/register" role="button">Sign Up</a>
  <a class="login-btn" href="/login" role="button">Login</a>
</div>
</div>


<%- include('partials/footer.ejs') %>