body {
  background: #222;
  font-family: 'Didact Gothic';
  color: tomato;
}

main {
  min-height: 80dvh;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  color: tomato;
  position: sticky;
  top: 0;
  padding-top: 20px;
  z-index: 999;
}

.navbar a {
  color: tomato;
}

.fas {
  color: tomato;
}

#navbarSupportedContent {
  margin-left: 20px ;
}

h1 {
  font-size: 3.5rem;
  font-family: 'Poiret One';
}

#txt {
  width: 40dvh;
  height: 40dvh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%; 
  color: wheat; 
  margin: 25px;
  padding: 20px;
  background-color: #777;
  text-align: start;
  border-radius: 25px;
}

#email {
  width: 40dvh;
  height: 6dvh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%; 
  color: wheat; 
  margin: 25px;
  padding: 20px;
  background-color: #777;
  text-align: start;
  border-radius: 25px;
}

#txt::placeholder {
  color: #555; /* or 'wheat' if you want it consistent */
  opacity: 1;  /* ensure it's fully visible */
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #222;
  padding: 1rem;
  color: wheat;
  cursor: pointer;
  border: 1px solid wheat;
  border-radius: 5px;
}

input:hover {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #444;
  padding: 1rem;
  color: wheat;
  cursor: pointer;
  border: 1px solid wheat;
  border-radius: 5px;
}

.input-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-stack input {
  margin-top: 0.1rem;
}

.stacker {
  display: flex;
  flex-direction: row;  
  gap: 15rem;             
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
}

.makepost,
.log {
  flex: 1;
  flex-direction: column;
  text-align: start;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

button:hover {
  text-decoration: line-through;
  color: crimson;
}

.clear {
  padding-top: 20px;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  padding-left: 20px;
}

@media (max-width: 999px){
.stacker {
  display: flex;
  flex-direction: column;  
  gap: 2rem;             
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
}
}

@media (max-width: 680px){
footer {
  opacity: 0.4;
  display: flex;
  justify-content: flex-end;
}
}

